$color-orange: #F5A623;
$color-orange-light: rgba(245, 166, 35, 0.20);
$color-red: #FF5368;
$color-red-light: rgba(255, 36, 63, 0.30);
$color-green: #00CE7D;
$color-green-light: rgba(0, 206, 125, 0.30);
$color-blue: #306EF3;
$color-blue-light: rgba(48, 110, 243, .2);
